.skills-log {
  margin-bottom: 40px;
}

.skills-log table {
  width: 100%;
}

.skills-log table th,
.skills-log table td {
  padding: 10px;
}

.skills-log table th {
  color: #ffffff;
  background-color: var(--and-red);
  text-align: left;
}

.skills-log input[type=range] {
  background-color: #D9D9D9;
  -webkit-appearance: none;
  height: 15px;
  width: 80%;
}

.skills-log input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 0px;
  background: var(--and-red);
  cursor: pointer;
  -webkit-appearance: none;
}
